{% extends "base.twig" %}
{% block title %}DataX - Feed Groups{% endblock %}
{% block content %}

    {% include "datax/feeds/groups/controls.twig" %}

    {% include "datax/feeds/groups/table.twig" %}

    {% include "datax/feeds/groups/create-form-dialog.twig" %}

    {% include "datax/feeds/groups/edit-form-dialog.twig" %}

    {% include "loading-animation-modal.twig" with {hidden: 'false'} %}

    <div id="row-controls" class="hidden">
        {% if user_has_access(user, constant('\\TraderInteractive\\Area::DATAX'), constant('\\TraderInteractive\\Privilege::WRITE'), host) %}
            <span class="edit-icon button-icon edit-feed-group-button" title="Edit Feed Group"></span>
        {% endif %}
    </div>

{% endblock %}

