<table id="feed-groups-table"></table>
<div id="row-controls" class="hidden">
    {% if user_has_access(user, constant('\\TraderInteractive\\Area::DATAX'), constant('\\TraderInteractive\\Privilege::WRITE'), host) %}
        <span class="edit-icon button-icon edit-feed-group-button" title="Edit Feed Group"></span>
    {% endif %}
    {% if user_has_access(user, constant('\\TraderInteractive\\Area::DATAX'), constant('\\TraderInteractive\\Privilege::DELETE'), host) %}
        <span class="delete-icon button-icon delete-feed-group-button" title="Delete Feed Group"></span>
    {% endif %}
</div>
