<form id="cancel-job-form" class="grid-form" action="/datax/jobs/cancel" method="post">
    <label for="user-name">Job Log ID</label>
    <input class="user-input" type="text" id="job-id" name="job-id" required/>
    <input type="submit" id="cancel-job-button" value="Cancel Job" />
</form>
