<form id="cancel-job-form" class="grid-form">
    <input id="cancel-job-id" type="hidden" name="id" required/>
    <p class="warning-message">Are you sure you want to cancel this job?</p>
    <p id="cancel-job-warning-message" class="delete-warning-text"></p>
</form>
