{% extends "base.twig" %}
{% block title %}Sandhills Cache{% endblock %}
{% block content %}
    <h1>Sandhills Cache</h1>
    <div>
        <table id="sandhills-cache-container" class="display"></table>
    </div>

    {% include "loading-animation-modal.twig" %}
{% endblock %}

