<table id="feeds-table"></table>
<template id="row-controls">
</template>
<template id="details-row">
    <div class="feed-details-container">
        <ul class="feed-control-links">
            <li>
                <a class="item-blockers-link">Manage Blocked Items</a>
            </li>
            <li>
                <a class="jobs-link">View Jobs</a>
            </li>
        </ul>
    </div>
</template>
<template id="expand-details-button">
    <span class="expand-icon button-icon" title="Expand Feed Details"></span>
</template>
